<h1>Editing entry</h1>

<% form_tag :action => 'edit_entry', :id => @entry do %>
  <%= render :partial => 'form_entry' %>
  <%= submit_tag 'Save' %>
<% end %>
<br />
<% if !@entry.id.blank? -%>
  <%= link_to 'Show', :action => 'show_entry', :id => @entry %> |
<% end -%>
<%= link_to 'Back', :action => 'index' %>
