<h1>New entry</h1>

<%= form_for @entry do |f| %>
  <%= render partial: 'form_entry', locals: { f: f } %>
  <%= submit_tag 'Save' %>
<% end %>

<div id="actions">
  <%= link_to 'Back', entries_path %>
</div>

