development:
  adapter: mysql2
  database: karatejournal_development
  username:
  password:

test:
  adapter: mysql2
  database: karatejournal_test
  username:
  password:

production:
  adapter: mysql2
  database: karatejournal_production
  username:
  password:
